/*----------------- Variables -----------------*/
$color-red: #ff3f4c;
$color-white: #ffffff;
$color-gray-1: #f8f8f8;
$color-gray-2: #eef0f0;
$color-gray-3: #b4b4b4;
$color-gray-4: #868686;
$color-gray-5: #606060;
$color-gray-6: #474747;
$color-gray-7: #3a3a3a;
$color-navy: #191a1e;
$color-black: #050505;
